absl-py==1.4.0
ale-py==0.7.1
astor==0.8.1
backcall==0.2.0
backtrader==1.9.78.123
-e git+https://github.com/aninfeel/btgym.git@7fb3316e67f1d7a17c620630fb62fb29428b2cec#egg=btgym
cloudpickle==1.2.2
cycler==0.11.0
dataclasses==0.8
decorator==5.1.1
entrypoints==0.4
future==1.0.0
gast==0.2.2
google-pasta==0.2.0
grpcio==1.48.2
gym==0.18.0
h5py==2.10.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
jupyter-client==7.1.2
jupyter-core==4.9.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Logbook==1.5.3
Markdown==3.3.7
matplotlib==2.0.2
nest-asyncio==1.6.0
numpy==1.18.5
opencv-python==4.9.0.80
opt-einsum==3.3.0
pandas==1.1.5
parso==0.7.1
pexpect==4.9.0
pickleshare==0.7.5
Pillow==7.2.0
pkg_resources==0.0.0
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.9.8
ptyprocess==0.7.0
pyglet==1.5.0
Pygments==2.14.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
pyzmq==25.1.2
scipy==1.5.4
six==1.16.0
tensorboard==1.15.0
tensorflow==1.15.5
tensorflow-estimator==1.15.1
termcolor==1.1.0
tornado==6.1
traitlets==4.3.3
typing_extensions==4.1.1
wcwidth==0.2.13
Werkzeug==2.0.3
wrapt==1.16.0
zipp==3.6.0
